.setup_profile_con{
    height: 250vh;
    max-height: 250vh;
}
.setup_profile_margin{
    padding-top: 70px;
}

.setup_img_style{
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}

.downhandstyle_setup{
    font-size: 100px;
    display: flex;
    justify-content: center;
    animation-name: slideDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.centerBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes slideDown{
    100%{transform: translateY(50%);}
}