.panel_con{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    height: 300vh;
    width: 100vw;
    border-left: 4px solid gold;
    border-bottom: 4px solid gold;
    border-top: 4px solid gold;
}

.panel_route{
    position: absolute;
    top: 0;
    left: 0;
    width: 71vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: scroll;
    float: left;
}

.panel_links > li{
    list-style-type: none;
    padding: 15px;
}
.panel_links > li > a{
    text-decoration: none;
}

.setup_img_style{
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}