.home_view_des{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.border-radius_homeView_imgs_circle{
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 15px solid gold;
}

.slider_title_homeview{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
