.aboutImgsstyles{
    width: 90%;
    height: 80%;
    border: 4px solid yellow;
    border-radius: 80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.aboutMain{
    margin-top: 70px;
}