.empty_notify{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.downhandstyle_notifi{
    font-size: 100px;
    display: flex;
    justify-content: center;
    animation-name: slideDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes slideDown{
    100%{transform: translateY(50%);}
}