.header_text_style{
  font-family: Arial, Helvetica, sans-serif;
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.set_gap_header{
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}

.set_gap_header_nav{
  margin-left: 58px;
  font-size: 20px;
}
.set_gap_header_nav_btn{
  margin-left: 58px;
}


@media (max-width: 989px){
  .set-gap-header{
  padding-left: 130px;
}
  .set-gap-header_nav{
    padding-left: 40px;
  }
  .set-gap-header_nav_btn{  
  position: relative;
  right: 70px;
  top: 30px;
}
}


@media (max-width: 787px){
  .set-gap-header{
  padding-left: 65px;
}
}

@media (max-width: 719px){
  .set-gap-header{
  padding-left: 20px;
}
.set-gap-header_nav{
  padding-left: 10px;
}
}

@media (max-width: 417px){
.set-gap-header_nav{
  padding-left: 0px;
}
.set-gap-header{
  position: relative;
  left: 30px;
}
}

@media (max-width: 363px){
.set-gap-header_nav{
  padding-left: 0px;
}
.set-gap-header{
  position: relative;
  left: 10px;
}
}